@media screen and (max-width: 1239px) {
  .red {
   display: none;
  }
  
.gallery_container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.burger_flex {
  flex-direction: column;
  gap: 20px;
}
.burger_card {
  margin-left: auto;
  margin-right: auto;
}
.flex_box {
  flex-direction: column;
}
.flex_card {
  margin-left: auto;
  margin-right: auto;
}

.history_info {
  flex-direction: column;
}
.history_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: none;
}
.history_image {
  position: relative;
  display: none;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.menu_card {
  margin-left: auto;
  margin-right: auto;
}

.menu_left img{
 display: none;
}
.menu_card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.menu_card p {
  color: #000;
  font-family: "Tinos", serif;
  font-size: 60%;
  font-weight: 400;
}


}